:3003 {
    route {
      sablier http://sablier:10000 {
        group docuseal
        session_duration 10m
        dynamic {
            display_name DocuSeal
            theme ghost
        }
      }
      reverse_proxy docuseal:3000
    }
}

:8001 {
    route {
      sablier http://sablier:10000 {
        group lychee
        session_duration 10m
        dynamic {
            display_name Lychee
            theme ghost
        }
      }
      reverse_proxy lychee:80
    }
}

:8888 {
    route {
      sablier http://sablier:10000 {
        group romm
        session_duration 10m
        dynamic {
            display_name Romm
            theme ghost
        }
      }
      reverse_proxy romm:8080
    }
}

:3002 {
    route {
      sablier http://sablier:10000 {
        group ollama
        session_duration 10m
        dynamic {
            display_name Ollama
            theme ghost
        }
      }
      reverse_proxy openwebui:8080
    }
}

:8889 {
    route {
      sablier http://sablier:10000 {
        group lubelogger
        session_duration 10m
        dynamic {
            display_name LubeLogger
            theme ghost
        }
      }
      reverse_proxy lubelogger:8080
    }
}

:8887 {
    route {
      sablier http://sablier:10000 {

        group paperlessngx
        session_duration 10m
        dynamic {
            display_name PaperlessNGX
            theme ghost
        }
      }
      reverse_proxy paperlessngx-webserver:8000
    }
}

:8886 {
    route {
      sablier http://sablier:10000 {

        group omnitools
        session_duration 10m
        dynamic {
            display_name Omni-Tools
            theme ghost
        }
      }
      reverse_proxy omnitools:80
    }
}
:8885 {
    route {
      sablier http://sablier:10000 {

        group stirlingpdf
        session_duration 10m
        dynamic {
            display_name Stirling PDF
            theme ghost
        }
      }
      reverse_proxy stirlingpdf:8080
    }
}

