[Unit]
Description=Dirsize Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node-exporter
Group=node-exporter
Type=simple
ExecStart=/usr/local/bin/dirsize-exporter /mnt/media/Pingvin 200 5

[Install]
WantedBy=multi-user.target