[Unit]
Description=PixAI Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node-exporter
Group=node-exporter
Type=simple
ExecStart=/usr/local/bin/pixai_exporter start --api-token={{pixai_token}} --interval=1800

[Install]
WantedBy=multi-user.target