---
- name: Create ntfy directory
  ansible.builtin.file:
    path: /mnt/media-nvm/Ntfy/etc
    state: directory
    mode: '0755'
    owner: '{{ superuser_name }}'
    group: '{{ superuser_name }}'

- name: Copy ntfy Configurations
  become: true
  ansible.builtin.copy:
    src: monit/ntfy/server.yml
    dest: /mnt/media-nvm/Ntfy/etc/server.yml

- name: Copy Docker-compose file
  ansible.posix.synchronize:
    src: files/monit/ntfy/docker-compose.yml
    dest: /mnt/media-nvm/Ntfy

- name: Run Ntfy
  community.docker.docker_compose_v2:
    project_src: /mnt/media-nvm/Ntfy
    recreate: always

- name: Add ntfy admin user and password vars
  ansible.builtin.lineinfile:
    path: '/etc/environment'
    state: present
    line: "{{ item }}"
  loop: "{{ ntfy_env_variables }}"
  no_log: true

- name: Create ntfy admin user
  ansible.builtin.expect:
    command: 'docker exec -it ntfy ntfy user add --role=admin {{ ntfy_admin }}'
    responses:
      (password*|confirm*): '{{ ntfy_password }}'
  register: admin_creation_status
  changed_when: admin_creation_status.rc == 0
  failed_when: admin_creation_status.rc != 1 and admin_creation_status.rc != 0

...