---
- name: Create Jellyfin media directories
  ansible.builtin.file:
    path: '{{ item }}'
    state: directory
    mode: '0755'
    owner: '{{ superuser_name }}'
    group: '{{ superuser_name }}'
  loop: '{{ jellyfin_media_dirs }}'

- name: Get render group
  ansible.builtin.getent:
    database: group
    key: "{{ item }}"
    split: ':'
  register: getent_output
  loop:
    - render
    - video

- ansible.builtin.debug:
    msg: "{{ getent_output.results[0].ansible_facts.getent_group.render[1] }}"

- ansible.builtin.debug:
    msg: "{{ getent_output.results[1].ansible_facts.getent_group.video[1] }}"

- name: Create .env file for Jellyfin
  ansible.builtin.copy:
    dest: /mnt/media/Jellyfin/.env
    content: |
      RENDER_GID={{ getent_output.results[0].ansible_facts.getent_group.render[1] }}
      VIDEO_GID={{ getent_output.results[1].ansible_facts.getent_group.video[1] }}
    owner: "{{ superuser_name }}"
    group: "{{ superuser_name }}"

- name: Copy Docker-compose file
  ansible.posix.synchronize:
    src: files/media/jellyfin/docker-compose.yml
    dest: /mnt/media/Jellyfin/

- name: Run Jellyfin
  community.docker.docker_compose_v2:
    project_src: /mnt/media/Jellyfin

- name: Open jellyfin port on firewall
  become: true
  ansible.posix.firewalld:
    port: 8096/tcp
    permanent: true
    state: enabled
    immediate: true
...