services:
  paperlessngx-broker:
    image: docker.io/library/redis:8
    container_name: paperlessngx-broker
    restart: unless-stopped
    labels:
      sablier.enable: true
      sablier.group: "paperlessngx"
    networks:
      - sleepers
    volumes:
      - /mnt/media-nvm/PaperlessNGX/redisdata:/data
      
  paperlessngx-webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.19
    container_name: paperlessngx-webserver
    restart: unless-stopped
    labels:
      sablier.enable: true
      sablier.group: "paperlessngx"
    environment:
      - PAPERLESS_SECRET_KEY
      - PAPERLESS_REDIS
      - USERMAP_UID
      - USERMAP_GID
      - PAPERLESS_OCR_LANGUAGE
      - PAPERLESS_URL
    depends_on:
      - paperlessngx-broker
    volumes:
      - /mnt/media-nvm/PaperlessNGX/data:/usr/src/paperless/data
      - /mnt/media-nvm/PaperlessNGX/media:/usr/src/paperless/media
      - /mnt/media-nvm/PaperlessNGX/export:/usr/src/paperless/export
      - /mnt/media-nvm/PaperlessNGX/consume:/usr/src/paperless/consume
    networks:
      - sleepers


networks:
  sleepers:
    external: true