pre-commit==3.7.1  # https://github.com/pre-commit/pre-commit
commitizen==3.27.0  # https://github.com/commitizen-tools/commitizen
molecule==24.6.1  # https://github.com/ansible-community/molecule
molecule-plugins[vagrant]==23.5.3  # https://github.com/ansible-community/molecule-plugins/releases/tag/v23.0.0
python-vagrant==1.0.0  # https://github.com/pycontribs/python-vagrant