module mygrafanapolicy 1.0;

require {
    type grafana_t;
    type websm_port_t;
    class tcp_socket name_connect;
}

# Your SELinux policy rules go here
ALLOW grafana_t websm_port_t:tcp_socket name_connect;
